
.navbar {
    @include ForMarginPadding(padding, rem(10), rem(0), rem(10), rem(0));
    background-color: $darkGrey;
    position: relative;
  }
  .header-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    .imgWrap{
        width: rem(60);
        height: rem(40);
        img{
            width: 100%;
    
        }
    }
    span{
        display: inline-block;
        @include ForMarginPadding(margin, rem(0), rem(0), rem(0), rem(8));
        font-size: rem(20);
        text-transform: uppercase;
        color: white;
        &::first-letter{
            color: $purple;
            font-size: rem(34);
        }
    }
   
  }
  
  .menu-icon {
    display: none;
  }
  
  .search-bar{
    width: rem(500);
    @include ForMarginPadding(padding, rem(5), rem(60), rem(5), rem(120));
    background-color: white;
    border-radius: rem(5);
    position: relative;
    input{
      width: 100%;
      border: 0;
      font-size: 12px;
      &:focus, &:active{
        outline: 0;
      }
    }
    .menudropdown{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-right: 1px solid  $purple;;
      
      button{
        height: 100%;
        border: 0;
        background: transparent;
        padding: 0 30px 0 10px;
        span{
          display: inline-block;
          @include ForMarginPadding(margin, rem(0), rem(8), rem(0), rem(8));
          font-size: 12px;
        }
      }
      .menuIcon{
        color: $purple;
      }
      .arrowIcon{
        font-size: rem(17);
        position: absolute;
        @include RightToLeft(10px);
        top: 0;
        bottom: 0;
        margin: auto;
        color: $purple;
      }
    }
    .searchbtn{
      border: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      @include ForMarginPadding(padding, rem(0), rem(15), rem(0), rem(15));
      svg{
        color: $purple;
      }
    }
  }
  .nav-elements {
    display: flex;
    align-items: center;
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        li{
          @include ForMarginPadding(margin, rem(0), rem(60), rem(0), rem(0));
            a,button{

                color: $white;
                position: relative;
                font-size: rem(16);
                font-weight: 400;
                text-decoration: none;
                border: 0;
                background-color: transparent;
                svg{
                    color: $white;
                    font-size: 26px;
                }
                span{
                  color: $white;
                  position: absolute;
                  top: rem(-8);
                  @include RightToLeft(-10px);
                  font-size: rem(12);
                  background: $danger;
                  width: rem(20);
                  height: rem(20);
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                &.active{
                  color: #574c4c;
                  font-weight: 500;
                  position: relative;
                }
                
            }
            &:last-child{
              @include ForMarginPadding(margin, rem(0), rem(0), rem(0), rem(0));
            }
        }
    }
    .profileWrap{
        .imgWrap{
            width: rem(35);
            height: rem(35);
            border-radius: 50%;
            border: 1px solid $lightGrey;
            background-size: 100% 100%;
        }
    }
  } 
  
  @media (min-width: 768px) and (max-width: 1023.98px){
    .logo{
      .imgWrap{
        width: rem(36);
        height: rem(32);
      }
      span{
        font-size: rem(15);
        &::first-letter{
            font-size: rem(20);
        }
      }
    }
    .search-bar{
      width: 100%;
      @include ForMarginPadding(margin, rem(0), rem(20), rem(0), rem(20));
    }
    .nav-elements{
      ul{
        li{
          @include ForMarginPadding(margin, rem(0), rem(30), rem(0), rem(0));
        }
      }
    }
  }
  
  @media (max-width: 600px) {
   
    .header-wrap{
      position: relative;
      @include ForMarginPadding(padding, rem(10), rem(0), rem(40), rem(0));
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
    .logo{
      .imgWrap{
        width: rem(36);
        height: rem(32);
      }
      span{
        font-size: rem(15);
        &::first-letter{
            font-size: rem(20);
        }
      }
    }
  
    .nav-elements {
      ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        li{
          @include ForMarginPadding(margin, rem(0), rem(30), rem(0), rem(0));
          a{
            span{
              width: rem(16);
              height: rem(16);
              font-size: rem(10);
            }
            svg{
              font-size: rem(18);
            }
          }
          .profileWrap{
            .imgWrap{
              width: rem(24);
              height: rem(24);
            }
           
          }
        }
      }
    }
    .search-bar{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  
  }
  