.btn{
    width: 100%;
    padding: rem(5) rem(2);
    border: 1px solid $black;
    font-size: rem(12) !important;
    color: $white !important;
    border-radius: rem(4);
    display: block;
    text-decoration: none;
    text-align: center;
    &.btn-purple{
        background-color: $purple;
        border: 1px solid $white;
        &.btnradius{
            padding: rem(10) rem(2);
            border-radius: rem(20);
        }
    }
    &.btnWhite{
        background-color: $white;
        color: $black !important;
        border: 1px solid $primary;
    }

}